.mqtt-container {
  display: flex;
  flex-direction: column;
}

.mqtt-flex-row {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}

/* flex item aligment right */
.aligment-right {
  margin-left: auto;
}
