.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px;
  padding: 5px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.large-item {
  margin: 0px 4px;
  flex: 3;
}

.small-item {
  margin: 0px 4px;
  flex: 1;
}
.normal-item {
  margin: 0px 4px;
  flex: 2;
}
